<div class="col-md-12" style="padding:0%; width:100%; height:1300px;margin-top: -20px;">
    <div class="col-md-12" style="background-color:#fff; padding:15px 0px 15px 15px;position: fixed;z-index: 100; border-bottom: 1px solid #eeeeee;">
        <div id="logo" class="col-md-2">
            <a href="/" class="standard-logo" data-dark-logo="images/logo1.png">
                <img style="width:84%;" src="https://scontent-icn1-1.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/12313669_858709030912827_2771614648691609873_n.jpg?oh=79e255f22524ec80356c35db1339e37f&oe=56E646BE" alt="for DGU">
            </a>
        </div>
        <div class="col-md-10">
            <nav id="primary-menu" class="">
    			<ul class="nav one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65" style="float:right; font-weight: bolder;width: 44.5%; font-size: 12px; text-align: center;">
    				<li style="position:relative; float: left;width: 13.5%;"><a href="/" data-href="#wrapper" style="color:#000;"><div>HOME</div></a></li>
    				<li style="position:relative; float: left;width: 13.5%;"><a href="#" data-href="#section-about" style="color:#1ABC9C;"><div>PEOPLE</div></a></li>
    				<li style="position:relative; float: left;width: 13.5%;"><a href="/news/info" data-href="#section-univ" style="color:#000;"><div>NEWS</div></a></li>
    				<li style="position:relative; float: left;width: 13.5%;"><a href="/scdl/info" data-href="#section-works" style="color:#000;"><div>일정알림</div></a></li>
    				<li style="position:relative; float: left;width: 13.5%;"><a href="#" data-href="#section-review" style="color:#000;"><div>IDEAS</div></a></li>
    				<li style="position:relative; float: left;width: 13.5%;"><a href="#" data-href="#section-services" style="color:#000;"><div>자유게시판</div></a></li>
    				<li style="position:relative; float: left;width: 13.5%;"><a href="#" data-href="#section-operator" style="color:#000;"><div>응원메세지</div></a></li>
    			</ul>
    		</nav>
        </div>
    </div>
        
    <div class="col-md-12" style="background-color:#fff; margin-top: 72px; padding:0px; z-index: 10; border-bottom: 1px solid #eeeeee;">
        <div class="col-md-12">
            <nav id="primary-menu" class="" style="text-align:center; width:100%;">
				<ul class="nav one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65" style="float:left; font-weight: bolder;width: 100%; font-size: 15px; text-align: center;padding: 0% 41% 0% 41%;">
					<li style="position:relative; float: left;width: 100%;">
					    <a class="black_font" href="#" style="padding: 17px 15px; border-bottom:2px solid blue;">
					        <div>글쓰기</div></a>
					</li>
				</ul>
			</nav>
        </div>
    </div>
    
    <div class="col-md-12" style="padding:0px; background-color:#eeeeee;">
        <div class="col-md-12" style="padding:0px 31.5%;">
            <form>
                <!--만약 사용자에 대한 정보가 없으면-->
                <div style="position: relative; width: 100%; height: 50px; margin-top: 30px; border-radius: 26px; background-color: #afb4b5;font-size: 23px; text-align: center; padding-top: 10px; font-family: serif; font-weight: bolder; color: #fff;">
                    - 당신의 정보 - (최초 등록시 입력)
                </div>
                
                    <input type="file" name="" value="" placeholder="" style="width: 49%;
                                                                                        height: 200px;
                                                                                        border: 1px solid red;
                                                                                        border-radius: 5px;
                                                                                        font-size: 20px;
                                                                                        text-align: center;
                                                                                        margin: 20px 0px 0px 0px;" onchange="javascript:document.getElementById('profile_img').value = this.value">
                    <img src="" alt="이미지 미리보기" id="getimg" style="position: absolute; right: 31.5%; width: 18%; height: 200px; border: 1px solid red; border-radius: 5px; margin: -200px 0px 0px 0px;">
                    <input type="hidden" id="profile_img" name="profile_img" onchange="javascript:document.getElementById('getimg').value = this.value">
                <span style="font-size: 16px; font-weight: bold; padding: 14px 46px 14px 31px;">이름</span>
                    <input type="text" name="name" value="" placeholder="이름" style="margin-top: 20px; height: 46px; width: 204px; border: 1px solid red; border-radius: 5px; padding: 4px 12px 3px 12px; font-size: 16px;">
                <span style="font-size: 16px; font-weight: bold; padding: 14px 31px 14px 16px;">영문명</span>
                    <input type="text" name="name_eng" value="" placeholder="영어이름(띄어쓰기X)" style="margin-top: 20px; height: 46px; width: 279px; border: 1px solid red; border-radius: 5px; padding: 4px 12px 3px 12px; font-size: 16px;">
                <br>
                <span style="font-size: 16px; font-weight: bold; padding: 14px 46px 14px 31px;">전화</span>
                    <input type="text" name="phone" value="" placeholder="연락처" style="margin-top: 20px; height: 46px; width: 204px; border: 1px solid red; border-radius: 5px; padding: 4px 12px 3px 12px; font-size: 16px;">
                <span style="font-size: 16px; font-weight: bold; padding: 14px 31px 14px 16px;">이메일</span>
                    <input type="text" name="email" value="" placeholder="이메일" style="margin-top: 20px; height: 46px; width: 279px; border: 1px solid red; border-radius: 5px; padding: 4px 12px 3px 12px; font-size: 16px;">
                <br>
                
                <span style="font-size: 16px; font-weight: bold; padding: 14px 31px 14px 31px;">이메일</span>
                    <input type="text" name="email" value="" placeholder="이메일" style="margin-top: 20px; width: 584px; height: 46px; border: 1px solid red; border-radius: 5px; padding: 4px 12px 3px 12px; font-size: 16px;">
                <br>
                <span style="font-size: 16px; font-weight: bold; padding: 14px 46px 14px 31px;">역할</span>
                    <input type="text" name="your_title" value="" placeholder="당시의 역할(ex. 2015년 대학원 총학생회장)" style="margin-bottom: 30px; margin-top: 20px; width: 584px; height: 46px; border: 1px solid red; border-radius: 5px; padding: 4px 12px 3px 12px; font-size: 16px;">
                <br>
                
                <span style="font-size: 16px; font-weight: bold; padding: 14px 22px 14px 0px;">About You</span>-당신(진행자)에 대한 소개 입력 :길이 150자
                    <textarea name="about_you" cols="30" rows="3" style="word-wrap: break-word; margin-bottom: 20px; margin-top: 5px; width: 700px; height: 46px; border: 1px solid red; border-radius: 5px; padding: 4px 12px 3px 12px; font-size: 20px;">
                    </textarea>
                <br>
                <span style="font-size: 16px; font-weight: bold; padding: 14px 25px 14px 0px;">To Others</span>-서른글자로 전하고 싶은 말 :길이 한두문장
                    <input type="text" name="to_others" value="" style="margin-bottom: 20px; margin-top: 5px; width: 700px; height: 46px; border: 1px solid red; border-radius: 5px; padding: 4px 12px 3px 12px; font-size: 20px;">
                <br>
                <span style="font-size: 16px; font-weight: bold; padding: 14px 40px 14px 0px;">Details</span> -위에서 미처 담지 못한 말을 자유롭게 써주세요.
                    <textarea name="details" value="" cols="30" rows="3" style="margin-top: 5px; width: 700px; height: 95px; border: 1px solid red; border-radius: 5px; padding: 4px 12px 3px 12px; font-size: 20px;">
                    </textarea>
                
                <div style="position: relative; width: 100%; height: 50px; margin-top: 30px; border-radius: 26px; background-color: #afb4b5;font-size: 23px; text-align: center; padding-top: 10px; font-family: serif; font-weight: bolder; color: #fff;">
                    - 당신 채널의 정보 - (최초 등록시 입력)
                </div>
                <input type="text" name="" value="" placeholder="" style="">
                <input type="text" name="" value="" placeholder="" style="">
                <!--/-->
                
                
                <div style="position: relative; width: 100%; height: 50px; margin-top: 30px; border-radius: 26px; background-color: #afb4b5;font-size: 23px; text-align: center; padding-top: 10px; font-family: serif; font-weight: bolder; color: #fff;">
                    - 게시글 작성 -
                </div>
            </form>
        </div>
    </div>
</div>